.price-card {
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;

  @media (min-width: 1200px) {
    min-width: 370px;
  }

  &__title {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 8px 8px 0 0;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #5b6ceb;
    text-align: center;
    padding: 20px 0;

    @media (min-width: 992px) {
      padding: 20px 0
    }

    @media (min-width: 1200px) {
      padding: 36px 0 38px 72px;
    }

    .icon-dollar {
      font-size: 28px;

      @media (min-width: 1200px) {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
      }
    }

    strong {
      font-size: 55px;
      line-height: 75px;

      @media (min-width: 992px) {
        font-size: 67.4px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    p {
      margin: 20px 0;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      color: #555555;
    }

    @media (min-width: 992px) {
      margin: 26px 0 24px 0;
      padding: 0 30px 0 30px;
    }

    @media (min-width: 1200px) {
      margin: 26px 0 24px 0;
      padding: 0 17px 0 0;
    }
  }

  &__button {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;

    button {
      padding: 14px 48px;
      border-radius: 18px;
      margin: 0 0 40px 0;

      @media (min-width: 992px) {
        margin: 0 0 54px 0;
      }
    }
  }
}