@charset "UTF-8";
@font-face {
  font-family: "freeScrpt";
  src: url("../fonts/freeScrpt/FREESCPT.eot");
  src: url("../fonts/freeScrpt/FREESCPT.eot") format("embedded-opentype"), url("../fonts/freeScrpt/FREESCPT.woff2") format("woff2"), url("../fonts/freeScrpt/FREESCPT.woff") format("woff"), url("../fonts/freeScrpt/FREESCPT.ttf") format("truetype"), url("../fonts/freeScrpt/FREESCPT.svg#FREESCPT") format("svg");
}
@font-face {
  font-family: "open_sans";
  src: url("../fonts/openSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "open_sans";
  src: url("../fonts/openSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "open_sans";
  src: url("../fonts/openSans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-prev:before {
  content: "";
}

.icon-arrow-next:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-globe:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-dollar:before {
  content: "";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "open_sans";
  font-size: 14px;
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
}

#wrapper {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1202px;
  padding: 0 16px;
}

.button {
  background-color: #5b6ceb;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}
.button:hover {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #3e4dbf;
}

.title--h2 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b6ceb;
}

.header {
  position: relative;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  z-index: 3;
  padding: 16px 0;
}

.menu__burger {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 3;
}
.menu__burger:before, .menu__burger:after,
.menu__burger span {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #5363db;
  transition: 400ms;
}
.menu__burger:before {
  top: 0;
  left: 0;
}
.menu__burger span {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
}
.menu__burger:after {
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .menu__burger {
    display: none;
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(-100%);
  z-index: 2;
  width: 100%;
  padding: 20px 0;
  transition: 400ms;
}
@media (min-width: 768px) {
  .menu__list {
    position: static;
    transform: translateY(0);
    flex-direction: row;
    background-color: inherit;
  }
}
.menu__item {
  padding-bottom: 10px;
}
.menu__item:last-child {
  padding: 0;
}
@media (min-width: 768px) {
  .menu__item {
    padding: 0 15px;
  }
  .menu__item:first-child {
    padding-right: 15px;
  }
  .menu__item:last-child {
    padding-left: 15px;
  }
}
.menu__link {
  text-decoration: none;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  position: relative;
  transition: 400ms;
}
.menu__link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #5363db;
  transition: 400ms;
}
.menu__link:hover {
  color: #5363db;
}
.menu__link:hover:before {
  width: 100%;
}

#menu-opener {
  display: none;
}
#menu-opener:checked ~ .menu__burger:before {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
#menu-opener:checked ~ .menu__burger:after {
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
}
#menu-opener:checked ~ .menu__burger span {
  opacity: 0;
}
#menu-opener:checked ~ .menu__list {
  transform: translateY(100%);
  transition: 400ms;
}
@media (min-width: 768px) {
  #menu-opener:checked ~ .menu__list {
    transform: translateY(0);
  }
}

.active {
  color: #5363db;
}

.form-section {
  background: no-repeat url("../images/bg-01.jpg") center/cover #5363db;
  position: relative;
  padding: 48px 20px;
}
.form-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background-color: #5363db;
}
@media (min-width: 768px) {
  .form-section {
    display: flex;
    padding: 100px 20px;
  }
}
@media (min-width: 992px) {
  .form-section {
    padding: 0;
    min-height: 600px;
  }
}
.form-section__form {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .form-section__form {
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 20px;
  }
}
@media (min-width: 992px) {
  .form-section__form {
    padding-right: 45px;
  }
}
.form-section__heading {
  position: relative;
  z-index: 2;
  text-align: center;
}
@media (min-width: 768px) {
  .form-section__heading {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    padding-left: 20px;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .form-section__heading {
    padding: 0 0 26px 49px;
  }
}
.form-section__title {
  font-size: 36px;
  line-height: 52px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .form-section__title {
    font-size: 42px;
    line-height: 64px;
  }
}
@media (min-width: 992px) {
  .form-section__title {
    font-size: 48px;
    line-height: 72px;
    padding-bottom: 25px;
    margin: 0;
  }
}
.form-section__subtitle {
  font-family: "freeScrpt";
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin-top: 15px;
}
@media (min-width: 992px) {
  .form-section__subtitle {
    font-size: 40px;
    margin: 0;
  }
}

.form {
  border-radius: 18px;
  padding: 30px 30px 35px 30px;
  background-color: #ffffff;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}
.form__title {
  margin: 0 0 25px 0;
  font-size: 25.7px;
  line-height: 1.2;
  font-weight: 600;
  color: #5363db;
}
.form__label {
  display: block;
}
.form__input, .form__select {
  border-radius: 6px;
  padding: 17px 10px;
  width: 100%;
  background-color: #f2f2f2;
  color: #888888;
  line-height: 1.2;
  border: 0;
  outline: none;
}
.form__input {
  margin: 0 0 17px 0;
}
.form .select-wrapper {
  position: relative;
}
.form .select-wrapper:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 11px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #636363 transparent transparent transparent;
}
.form__select {
  appearance: none;
}
.form__button {
  padding: 0 0 0 70px;
  margin-top: 31px;
}
.form__button--button {
  width: 100%;
  padding: 17px 64px 16px 64px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  border-radius: 6px;
}

.program-section__title {
  text-align: center;
  margin: 40px 0 0 0;
}
@media (min-width: 768px) {
  .program-section__title {
    margin: 113px 0 0 0;
  }
}
.program-section__subtitle {
  text-align: center;
  font-family: "freeScrpt";
  font-size: 41px;
  line-height: 61px;
  font-weight: 400;
  color: #777777;
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .program-section__subtitle {
    margin: 0 0 56px 0;
  }
}

@media (min-width: 570px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -25px -15px;
  }
}
.cards__item {
  margin: 0 0 20px 0;
}
.cards__item:last-child {
  margin: 0;
}
@media (min-width: 570px) {
  .cards__item {
    display: flex;
    flex-basis: 50%;
    margin: 0;
    padding: 0 15px 25px 15px;
  }
}

.card {
  background-color: #ffffff;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    justify-content: space-between;
  }
}
.card__info {
  padding: 30px;
}
.card__info a {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #999999;
  display: block;
  margin: auto 0 0 0;
}
@media (min-width: 992px) {
  .card__info a {
    margin: -8px 0 0 0;
  }
}
@media (min-width: 570px) {
  .card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .card__info {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .card__info {
    width: 50%;
    padding: 42px 0 34px 15px;
    display: block;
  }
}
.card__image {
  overflow: hidden;
}
.card__image img {
  border-radius: 6px 6px 0 0;
  width: 100%;
}
@media (min-width: 570px) {
  .card__image img {
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .card__image img {
    border-radius: 6px 0 0 6px;
  }
}
@media (min-width: 570px) {
  .card__image {
    display: flex;
  }
}
.card__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #777777;
}
@media (min-width: 1200px) {
  .card__title {
    font-size: 20px;
    line-height: 45px;
  }
}
.card__text {
  line-height: 22px;
  font-weight: 400;
  color: #555555;
  margin: 16px 0 14px 0;
}
@media (min-width: 992px) {
  .card__text {
    padding: 0 47px 0 0;
  }
}

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0 0 0;
}
@media (min-width: 992px) {
  .gallery-section {
    margin: 214px 0 0 0;
  }
}

.photo-card {
  flex-basis: 50%;
  position: relative;
}
@media (min-width: 768px) {
  .photo-card {
    flex-basis: 25%;
  }
}
.photo-card__image {
  width: 100%;
  height: 100%;
}
.photo-card__icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: 400ms;
}
.photo-card .icon-search {
  font-size: 20px;
  color: #5b6ceb;
}
.photo-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5b6ceb;
  opacity: 0;
  transition: 400ms;
}
.photo-card:hover {
  cursor: pointer;
}
.photo-card:hover:before {
  opacity: 0.8;
}
.photo-card:hover .photo-card__icon {
  opacity: 1;
  visibility: visible;
}

.about-section {
  line-height: 22px;
  font-weight: 400;
  color: #555555;
  padding: 48px 0 60px 0;
}
@media (min-width: 992px) {
  .about-section {
    padding: 176px 0 173px 0;
  }
}
@media (min-width: 768px) {
  .about-section__container {
    display: flex;
    align-items: center;
  }
}
.about-section__column {
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .about-section__column {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .about-section__column:first-child {
    padding: 0 114px 0 0;
  }
}
.about-section__text p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #555555;
  margin: 0 0 50px 0;
}
@media (min-width: 992px) {
  .about-section__text p {
    margin: 0 0 85px 0;
  }
}
.about-section__title {
  margin: 0 0 11px 0;
}

@media (min-width: 768px) {
  .swiper-container {
    margin: 0 0 0 14px;
  }
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 6px 6px 9px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 49%;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev {
  left: -14px;
}
@media (min-width: 1200px) {
  .swiper-button-prev {
    left: -10px;
  }
}

.swiper-button-next {
  right: -14px;
}
@media (min-width: 1200px) {
  .swiper-button-next {
    right: -25px;
  }
}

.icon-arrow-prev,
.icon-arrow-next {
  color: #5b6ceb;
  font-size: 24px;
  font-weight: bold;
}

.feature-section {
  background: no-repeat url("../images/bg-02.jpg") center/cover #5363db;
  position: relative;
  padding: 40px 0;
}
@media (min-width: 768px) {
  .feature-section {
    padding: 125px 0 136px 0;
  }
}
.feature-section:before, .feature-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5363db;
}
.feature-section:before {
  mix-blend-mode: color;
}
.feature-section:after {
  opacity: 0.8;
}

.feature-elements {
  position: relative;
  z-index: 1;
  text-align: center;
}
@media (min-width: 570px) {
  .feature-elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -17px -56px -9px;
  }
}
.feature-elements__item {
  display: flex;
  padding: 0 0 50px 0;
}
.feature-elements__item:last-child {
  padding: 0;
}
@media (min-width: 570px) {
  .feature-elements__item {
    flex-basis: 50%;
    padding: 0 17px 56px 9px;
  }
  .feature-elements__item:last-child {
    padding: 0 17px 56px 9px;
  }
}
@media (min-width: 768px) {
  .feature-elements__item {
    flex-basis: 25%;
  }
}

.feature-element {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #ffffff;
  line-height: 27px;
}
.feature-element__icon {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-element__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 28px 0 9px 0;
}
.feature-element__text {
  font-size: 16px;
  font-weight: 400;
  margin: auto 0 0 0;
}

.price-section {
  background: no-repeat url("../images/bg-03.jpg") center/cover;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .price-section {
    background: no-repeat url("../images/bg-03.jpg") right bottom;
    padding: 99px 0 82px 0;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .price-section__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px -25px -15px;
  }
}
@media (min-width: 992px) {
  .price-section__container {
    flex-wrap: nowrap;
    margin: 0 -30px;
  }
}
.price-section__item {
  margin: 0 0 30px 0;
}
.price-section__item:last-child {
  margin: 0;
}
@media (min-width: 768px) {
  .price-section__item {
    margin: 0;
    flex-basis: 50%;
    padding: 0 15px 25px 15px;
  }
}
@media (min-width: 992px) {
  .price-section__item {
    flex-basis: calc(100% / 3);
  }
}

.price-card {
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
}
@media (min-width: 1200px) {
  .price-card {
    min-width: 370px;
  }
}
.price-card__title {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 8px 8px 0 0;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #5b6ceb;
  text-align: center;
  padding: 20px 0;
}
@media (min-width: 992px) {
  .price-card__title {
    padding: 20px 0;
  }
}
@media (min-width: 1200px) {
  .price-card__title {
    padding: 36px 0 38px 72px;
  }
}
.price-card__title .icon-dollar {
  font-size: 28px;
}
@media (min-width: 1200px) {
  .price-card__title .icon-dollar {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
}
.price-card__title strong {
  font-size: 55px;
  line-height: 75px;
}
@media (min-width: 992px) {
  .price-card__title strong {
    font-size: 67.4px;
  }
}
.price-card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.price-card__body p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}
@media (min-width: 992px) {
  .price-card__body {
    margin: 26px 0 24px 0;
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 1200px) {
  .price-card__body {
    margin: 26px 0 24px 0;
    padding: 0 17px 0 0;
  }
}
.price-card__button {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
.price-card__button button {
  padding: 14px 48px;
  border-radius: 18px;
  margin: 0 0 40px 0;
}
@media (min-width: 992px) {
  .price-card__button button {
    margin: 0 0 54px 0;
  }
}

.footer {
  background-color: #5b6ceb;
}
@media (min-width: 992px) {
  .footer__container {
    display: flex;
  }
}
.footer__column {
  color: #ffffff;
  padding: 27px 0 27px 0;
}
.footer__column:last-child {
  padding: 0 0 45px 0;
}
@media (min-width: 768px) {
  .footer__column {
    flex-basis: 50%;
  }
  .footer__column:last-child {
    padding: 27px 0 27px 0;
  }
}
@media (min-width: 992px) {
  .footer__column {
    padding: 96px 0 81px 0;
  }
  .footer__column:last-child {
    padding: 96px 0 81px 0;
  }
}
@media (min-width: 992px) {
  .footer__column--right {
    margin: 0 0 0 33px;
  }
}
.footer span {
  font-size: 20px;
}
.footer__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .footer__title {
    margin: 0 0 20px 0;
  }
}
.footer__text {
  line-height: 22px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .footer__text {
    padding: 31px 106px 0 0;
  }
}
.footer__social-icon a {
  color: #ffffff;
  text-decoration: none;
}
.footer__social-icon span {
  padding: 0 18px 0 0;
}
@media (min-width: 570px) {
  .footer__social-icon {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .footer__social-icon {
    margin: 68px 0 20px 0;
  }
}
@media (min-width: 570px) {
  .footer__contact {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 -30px 0;
  }
}
@media (min-width: 992px) {
  .footer__contact {
    margin: 53px 0 -35px 0;
  }
}
.footer__item {
  display: flex;
  margin: 0 0 20px 0;
}
@media (min-width: 570px) {
  .footer__item {
    margin: 0;
    width: 50%;
    padding: 0 0 30px 0;
  }
}
@media (min-width: 992px) {
  .footer__item {
    padding: 0 0 35px 0;
  }
}
.footer__item:last-child {
  margin: 0;
}
.footer__item:last-child {
  padding: 0;
}
.footer__item a {
  display: block;
}
.footer__item span {
  padding: 0 18px 0 0;
}
.footer__link {
  text-decoration: none;
  color: #ffffff;
}
.footer__copyright {
  text-align: center;
  background-color: #5363d8;
}
.footer__copyright a {
  color: #b7bffc;
  display: block;
  padding: 44px 0 40px 0;
  margin: 0;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
