// fonts
$main-font-style: 'open_sans';
$second-font-style: 'freeScrpt';

// button
$button-bg: #5b6ceb;
$button-color:  #ffffff;
$button-border: 0;

// base
$animation-speed: 400ms;

// menu
$burger-bg: #5363db;
$menu-link-color: #555555;
$menu-link-hover-color: #5363db;
$active-color: #5363db;

// form-section
$form-section-bg: #5363db;
// form
$form-bg: #ffffff;
$form-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.15);
$form-title-color: #5363db;
$form-title-font-size: 25.7px;
$form-title-line-height: 1.2;
$form-title-font-weight: 600;

// footer
$footer-bg: #5b6ceb;
$footer-color: #ffffff;
$footer-copyright-bg: #5363d8;
$footer-copyright-color: #b7bffc;
