.footer {
  background-color: $footer-bg;

  &__container {
    @media (min-width: 992px) {
      display: flex;
    }
  }

  &__column {
    color: $footer-color;
    padding: 27px 0 27px 0;

    &:last-child {
      padding: 0 0 45px 0;
    }

    @media (min-width: 768px) {
      flex-basis: 50%;

      &:last-child {
        padding: 27px 0 27px 0;
      }
    }

    @media (min-width: 992px) {
      padding: 96px 0 81px 0;

      &:last-child {
        padding: 96px 0 81px 0;
      }
    }
  }

  &__column--right {
    @media (min-width: 992px) {
      margin: 0 0 0 33px;
    }
  }

  span {
    font-size: 20px;
  }

  &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: 992px) {
      margin: 0 0 20px 0;
    }
  }

  &__text {
    line-height: 22px;
    font-weight: 400;

    @media (min-width: 992px) {
      padding: 31px 106px 0 0;
    }
  }

  &__social-icon {
    a {
      color: $footer-color;
      text-decoration: none;
    }

    span {
      padding: 0 18px 0 0;
    }

    @media (min-width: 570px) {
      margin: 0;
    }

    @media (min-width: 992px) {
      margin: 68px 0 20px 0;
    }
  }

  &__contact {
    @media (min-width: 570px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 -30px 0;
    }

    @media (min-width: 992px) {
      margin: 53px 0 -35px 0;
    }
  }

  &__item {
    display: flex;
    margin: 0 0 20px 0;

    @media (min-width: 570px) {
      margin: 0;
      width: 50%;
      padding: 0 0 30px 0;
    }

    @media (min-width: 992px) {
      padding: 0 0 35px 0;
    }

    &:last-child {
      margin: 0
    }

    &:last-child {
      padding: 0;
    }

    a {
      display: block;
    }

    span {
      padding: 0 18px 0 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $footer-color;
  }

  &__copyright {
    text-align: center;
    background-color: $footer-copyright-bg;

    a {
      color: $footer-copyright-color;
      display: block;
      padding: 44px 0 40px 0;
      margin: 0;
      text-decoration: none;
    }
  }
}